rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents{
   function isAdmin() {
        return isAuthenticated() &&
        get(/databases/$(database)/documents/profils/$(request.auth.uid)).data.isAdmin == true ;
    }
    function isAuthenticated() {
          return request.auth.uid != null;
          }
   
	match /products/{id} {
    		allow read: if true;
      	allow  create, update: if isAuthenticated();
        allow delete: if request.auth.uid == resource.data.uid;
        }
    match /profiles/{profileId} {
      	allow read;
        allow create: if isAuthenticated();
        allow write, delete, update: if request.auth.uid == profileId;
       }
  match /selections/{selectionId}/{documents=**} {
        allow get, list: if true ;
        allow create, update : if isAuthenticated();
				allow delete: if isAdmin();
		}
    
  match /messages/{messageId} {
        allow get, list: if request.auth.uid == messageId ;
        allow create : if isAuthenticated();
				allow delete, update: if isAdmin() || request.auth.uid == messageId ;
		}
 }
}