@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    overflow-x: hidden;
    }
   html {
    font-family: "Quicksand", "sans-serif";
  }
  
}

@layer components {
  .ay-display  {
    @apply  text-medium cursor-pointer;
  }
  .ay-hover {
    @apply  hover:-translate-y-1 hover:-translate-x-1 border-2 border-green-400   duration-200 rounded-sm 
     shadow-sm hover:text-2xl cursor-pointer;
  }
  .window-ay-click  {
    @apply  duration-200 rounded-sm  shadow-sm font-semibold  ;
  }
  .stage-hover {
    @apply hover:bg-emerald-600 hover:text-yellow-200 hover:text-2xl hover:-translate-x-5 hover:-translate-y-1 ease-in;
  }
  .first-ay {
    @apply    duration-200 rounded-sm shadow-sm text-3xl;
  }
  .ay-border {
    @apply    border-2 border-green-400 rounded-sm shadow-sm text-3xl;
  }
  .grid-ayah {
    @apply  hover:-translate-y-1 duration-200 rounded-sm  shadow-sm;
  }
  .CENTER {
    @apply  flex justify-center items-center;
  }         

  .grid-ayah-ord {
    @apply bg-emerald-100/50 text-blue-900 ;
  }

  .grid-ayah-shuff {
    @apply bg-emerald-800/50 text-blue-50 ;
  }
  .selected-navig-mobile {
    @apply bg-yellow-400/20 text-blue-300 rounded-xl px-3 border-2 border-blue-700/30 shadow-lg;
  }
  .navig-mobile {
    @apply flex  justify-center text-blue-300  text-xl items-center p-1 transition-colors ease-in-out cursor-pointer;
  }
  .navig-mobile-svg {
    @apply flex justify-center text-center text-natTertiary/80 items-center;
  }
  .nanvig-mobile-txt {
    @apply text-center  tracking-wide font-light ;
  }
  .mobile-menu-item {
    @apply flex  p-4 justify-center relative h-full items-center text-blue-900;
  }
  .mobile-sub-menu {
    @apply p-4 items-center justify-center font-bold hover:bg-gray-500/20 hover:text-blue-800 transition-colors ease-in-out cursor-pointer;
  }
  .mobile-div-sub-menu {
    @apply absolute top-full right-[0]  whitespace-nowrap
                     bg-green-200/10 w-auto rounded-b-md text-right;
  }
  a:focus {
    @apply outline-none;
  }
  .nav-selected {
    @apply border-1 border-green-500 text-blue-500  
  }
  .nav-element{
    @apply  text-center  px-3 py-2 rounded-md 
  }
  a:focus-visible {
    @apply right-2 ring-blue-300 ring-opacity-50;
  }
  .btn {
    @apply cursor-pointer rounded-sm bg-sky-400 py-2 px-4 transition-colors hover:bg-sky-600 hover:shadow-lg text-white tracking-wider w-full;
  }
  .input {
    @apply rounded-r-sm text-sky-800 
                rounded-md border-white/70 outline-sky-200 bg-white/40;
  }
}
