@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    overflow-x: hidden;
    }
   html {
    font-family: "Quicksand", "sans-serif";
  }
  
}

@layer components {

  .grid-ayah {
    @apply  hover:-translate-y-1 duration-200 rounded-sm  shadow-sm;
  }

  .grid-ayah-ord {
    @apply bg-emerald-100/50 text-blue-900 ;
  }

  .grid-ayah-shuff {
    @apply bg-emerald-800/50 text-blue-50 ;
  }
  .selected-navig-mobile {
    @apply bg-blue-500 text-blue-300 rounded-xl  shadow-lg;
  }
  .navig-mobile {
    @apply flex  justify-center items-center p-1 transition-colors ease-in-out cursor-pointer;
  }
  .navig-mobile-svg {
    @apply flex justify-center text-center items-center;
  }
  .nanvig-mobile-txt {
    @apply text-center  tracking-wide;
  }
  .mobile-menu-item {
    @apply flex  p-4 justify-center relative h-full items-center text-blue-900;
  }
  .mobile-sub-menu {
    @apply p-4 items-center justify-center font-bold hover:bg-gray-500/20 hover:text-blue-800 transition-colors ease-in-out cursor-pointer;
  }
  .mobile-div-sub-menu {
    @apply absolute top-full right-[0]  whitespace-nowrap
                     bg-green-200/10 w-auto rounded-b-md text-right;
  }
  a:focus {
    @apply outline-none;
  }
  a:focus-visible {
    @apply right-2 ring-blue-300 ring-opacity-50;
  }
  .btn {
    @apply cursor-pointer rounded-sm bg-sky-400 py-2 px-4 transition-colors hover:bg-sky-600 hover:shadow-lg text-white tracking-wider w-full;
  }
  .input {
    @apply rounded-r-sm text-sky-800 
                rounded-md border-white/70 outline-sky-200 bg-white/40;
  }
}
